body {
  background-color: #282c34;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-icons {
  /* background-color: ; */
}
#logo {
  font-size: 40px;
  border-radius: 45px;
  padding: 10px;
  background-color: rgb(59, 59, 59);
  /* padding: 0px; */
}

#cartCont {
  /* position: absolute; */
}

#cartIcon {
  /* color: white; */
  position: relative;
  font-size: 34px;
  top: 13px;
}

#amountInCart {
  color: #282c34;
  position: relative;
  top: -21px;
  left: 1px;
}

.navigation {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.about > p {
  margin: 7px;
}

.navigation > a,
.navigation > ul > a {
  text-decoration: none;
  color: white;
}

.navigation > * {
  margin: 15px;
}

.navigation > ul > * {
  margin: 15px;
}

.navButtons {
  display: flex;
  list-style: none;
  align-items: center;
}

.navButton {
  font-size: large;
}

.item {
  display: flex;
  align-items: stretch;
  width: 70%;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 500px;
  align-self: center;
}

.itemName {
  padding: 0px;
  margin: 0px;
}

img {
  position: relative;
  object-fit: cover;
  width: 50%;
  border-radius: 25px;
  max-height: 500px;
  max-width: 500px;
  margin: 50px;
}

.detailsImg {
  width: 100%;
  margin: 0px;
  margin-bottom: 25px;
}

.shopPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 800px;
  border-radius: 25px;
}

.shopPage button {
  background-color: #282c34;
  border: 0px;
  color: white;
}

.textCont {
  align-self: center;
}

.goBackIcon {
  font-size: xx-large;
}

.addToCartIcon {
  margin-left: 5px;
  font-size: 22px;
  vertical-align: middle;
  cursor: pointer;
}

#goBackLink {
  color: white;
  text-align: left;
}
